table {
  width: 100%;
}

td:empty:before {
  background-color: #eee;
  content: '';
  display: block;
  min-height: 18px;
}

.bp3-button-group {
  display: block;
  margin-top: 20px;
  text-align: right;
}